body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    margin-bottom: 5%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    color: rgb(248, 72, 2);
}

.Author-name {
    color: rgb(45, 97, 165);
}

.Flexible-container {
    display: flex;
}

.half {
    width: 50%;
    padding: 5%;
}

.half img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(17, 243, 187), rgb(13, 65, 133));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

p {
    text-align: justify;
}

.experience-iteam {
    box-shadow: 10px 10px 40px gray;
    width: 44%;
    margin: 3%;
    padding: 30px;
    border-radius: 15px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack-developer {
    border-left: 7px solid tomato;
}

#baby-web-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}